In [60]:
!pip install html5lib
!pip install bs4
!pip install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: html5lib in /Users/admin/Library/Python/3.9/lib/python/site-packages (1.1)
Requirement already satisfied: six>=1.9 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from html5lib) (1.15.0)
Requirement already satisfied: webencodings in /Users/admin/Library/Python/3.9/lib/python/site-packages (from html5lib) (0.5.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bs4 in /Users/admin/Library/Python/3.9/lib/python/site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in /Users/admin/Library/Python/3.9/lib/python/site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /Users/admin/Library/Python/3.9/lib/python/site-packages (from beautifulsoup4->bs4) (2.5)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in /Users/admin/Library/Python/3.9/lib/python/site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/admin/Library/Python/3.9/lib/python/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/admin/Library/Python/3.9/lib/python/site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/admin/Library/Python/3.9/lib/python/site-packages (from requests) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/admin/Library/Python/3.9/lib/python/site-packages (from requests) (2024.6.2)

In [61]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from io import StringIO


def make_df():
    url = "https://www.imf.org/en/Publications/WEO/weo-database/2024/April/weo-report?c=512,914,612,171,614,311,213,911,314,193,122,912,313,419,513,316,913,124,339,638,514,218,963,616,223,516,918,748,618,624,522,622,156,626,628,228,924,233,632,636,634,238,662,960,423,935,128,611,321,243,248,469,253,642,643,939,734,644,819,172,132,646,648,915,134,652,174,328,258,656,654,336,263,268,532,944,176,534,536,429,433,178,436,136,343,158,439,916,664,826,542,967,443,917,544,941,446,666,668,672,946,137,546,674,676,548,556,678,181,867,682,684,273,868,921,948,943,686,688,518,728,836,558,138,196,278,692,694,962,142,449,564,565,283,853,288,293,566,964,182,359,453,968,922,714,862,135,716,456,722,942,718,724,576,936,961,813,726,199,733,184,524,361,362,364,732,366,144,146,463,528,923,738,578,537,742,866,369,744,186,925,869,746,926,466,112,111,298,927,846,299,582,487,474,754,698,&s=NGDPD,&sy=2022&ey=2029&ssm=0&scsm=1&scc=0&ssd=1&ssc=0&sic=0&sort=country&ds=.&br=1"
    response = requests.get(url)
    response.raise_for_status()
    soup = BeautifulSoup(response.text, "html.parser")

    # HTML에서 테이블을 DataFrame으로 읽어오기
    table = soup.find("table", class_="fluid")
    df = pd.read_html(StringIO(str(table)))[0]  # 첫 번째 테이블만 가져오기

    df = df[["Country", "2024"]]
    return df


# 크롤링 후, 데이터 전처리 적용
df = make_df()
# '2024' 열을 'GDP_USD_billion'으로 이름 변경
df = df.rename(columns={'2024': 'GDP_USD_billion'})
df = df.dropna(axis=0, subset=["GDP_USD_billion"])
df = df.sort_values(by='GDP_USD_billion', ascending=False)
df = df.reset_index(drop=True)
print(df)

                              Country  GDP_USD_billion
0                       United States        28781.083
1                               China        18532.633
2                             Germany         4591.100
3                               Japan         4110.452
4                               India         3937.011
5                      United Kingdom         3495.261
6                              France         3130.014
7                              Brazil         2331.391
8                               Italy         2328.028
9                              Canada         2242.182
10                             Russia         2056.844
11                             Mexico         2017.025
12                          Australia         1790.348
13                              Korea         1760.947
14                              Spain         1647.114
15                          Indonesia         1475.690
16                        Netherlands         1142.513
17                            Türkiye         1113.561
18                       Saudi Arabia         1106.015
19                        Switzerland          938.458
20                             Poland          844.623
21           Taiwan Province of China          802.958
22                            Belgium          655.192
23                             Sweden          623.048
24                          Argentina          604.260
25                            Ireland          564.020
26                           Thailand          548.890
27                            Austria          540.887
28                             Israel          530.664
29               United Arab Emirates          527.796
30                             Norway          526.951
31                          Singapore          525.228
32                        Philippines          471.516
33                            Vietnam          465.814
34           Islamic Republic of Iran          464.181
35                         Bangladesh          455.162
36                           Malaysia          445.519
37                            Denmark          409.989
38                      Hong Kong SAR          406.775
39                           Colombia          386.076
40                       South Africa          373.233
41                            Romania          369.971
42                              Egypt          347.594
43                              Chile          333.760
44                     Czech Republic          325.880
45                            Finland          308.055
46                           Portugal          298.949
47                         Kazakhstan          296.740
48                               Peru          282.458
49                            Algeria          266.780
50                               Iraq          265.894
51                        New Zealand          257.626
52                            Nigeria          252.738
53                             Greece          250.276
54                              Qatar          244.686
55                            Hungary          223.413
56                           Ethiopia          205.130
57                            Ukraine          188.943
58                             Kuwait          160.397
59                            Morocco          152.377
60                    Slovak Republic          140.808
61                 Dominican Republic          127.356
62                            Ecuador          121.592
63                        Puerto Rico          117.763
64                          Guatemala          110.035
65                               Oman          108.927
66                           Bulgaria          107.933
67                              Kenya          104.001
68                          Venezuela          102.328
69                         Uzbekistan           97.956
70                         Costa Rica           96.058
71                             Angola           92.123
72                         Luxembourg           88.556
73                            Croatia           88.076
74                             Panama           87.347
75                      Côte d'Ivoire           86.911
76                            Uruguay           82.605
77                       Turkmenistan           81.896
78                             Serbia           81.873
79                          Lithuania           81.170
80                           Tanzania           79.605
81                         Azerbaijan           78.749
82                              Ghana           75.244
83   Democratic Republic of the Congo           73.761
84                           Slovenia           72.101
85                            Belarus           69.048
86                            Myanmar           68.006
87                             Uganda           56.310
88                            Tunisia           54.708
89                          Macao SAR           54.677
90                             Jordan           53.570
91                           Cameroon           53.205
92                            Bolivia           49.334
93                              Libya           48.221
94                            Bahrain           46.790
95                           Paraguay           45.817
96                             Latvia           45.466
97                           Cambodia           45.150
98                              Nepal           44.179
99                            Estonia           43.486
100                          Honduras           37.355
101                           Senegal           35.450
102                       El Salvador           35.333
103                          Zimbabwe           34.405
104                            Cyprus           34.221
105                           Iceland           33.338
106                           Georgia           32.865
107                  Papua New Guinea           31.716
108                            Zambia           29.872
109            Bosnia and Herzegovina           29.078
110               Trinidad and Tobago           28.365
111                             Sudan           26.865
112                            Guinea           25.447
113                           Albania           25.431
114                           Armenia           25.408
115                             Haiti           24.046
116                        Mozambique           22.975
117                             Malta           22.737
118                          Mongolia           21.943
119                      Burkina Faso           21.902
120                              Mali           21.662
121                          Botswana           21.418
122                             Benin           21.371
123                            Guyana           21.178
124                             Gabon           21.013
125                           Jamaica           20.098
126                         Nicaragua           18.829
127                             Niger           18.816
128                              Chad           18.697
129                           Moldova           18.356
130                             Yemen           16.940
131                        Madagascar           16.465
132                         Mauritius           16.359
133                   North Macedonia           15.873
134                 Brunei Darussalam           15.510
135                 Republic of Congo           15.501
136                        Lao P.D.R.           15.190
137                       The Bahamas           14.390
138                            Rwanda           13.701
139                   Kyrgyz Republic           13.599
140                        Tajikistan           12.953
141                           Somalia           12.804
142                           Namibia           12.765
143                            Kosovo           11.318
144                            Malawi           11.241
145                 Equatorial Guinea           10.708
146                        Mauritania           10.628
147                              Togo            9.832
148                        Montenegro            8.011
149                          Maldives            7.199
150                          Barbados            6.863
151                       South Sudan            6.517
152                              Fiji            5.801
153                          Eswatini            5.085
154                           Liberia            4.754
155                      Sierra Leone            4.558
156                          Djibouti            4.364
157                          Suriname            4.337
158                             Aruba            4.069
159                           Andorra            3.897
160                            Belize            3.296
161                            Bhutan            3.110
162                           Burundi            3.075
163          Central African Republic            2.810
164                        Cabo Verde            2.718
165                        The Gambia            2.694
166                         St. Lucia            2.582
167                           Lesotho            2.395
168                        Seychelles            2.203
169                     Guinea-Bissau            2.151
170               Antigua and Barbuda            2.127
171                        San Marino            2.034
172                       Timor-Leste            1.992
173                   Solomon Islands            1.707
174                           Comoros            1.422
175                           Grenada            1.406
176                           Vanuatu            1.289
177               St. Kitts and Nevis            1.134
178    St. Vincent and the Grenadines            1.128
179                             Samoa            1.024
180             São Tomé and Príncipe            0.751
181                          Dominica            0.708
182                             Tonga            0.581
183                        Micronesia            0.484
184                          Kiribati            0.311
185                             Palau            0.308
186                  Marshall Islands            0.305
187                             Nauru            0.161
188                            Tuvalu            0.066

In [62]:
def countries_by_continent():
    url = "https://en.wikipedia.org/wiki/List_of_sovereign_states_and_dependent_territories_by_continent"
    response = requests.get(url)
    soup = BeautifulSoup(response.text, "html.parser")

    # HTML에서 테이블을 DataFrame으로 읽어오기
    table = soup.find_all("table", {"class": "sortable"})
    africa_rows = table[0].find_all("tr")
    asia_rows = table[1].find_all("tr")
    europe_rows = table[2].find_all("tr")
    north_america_rows = table[3].find_all("tr")
    oceania_rows = table[4].find_all("tr")
    south_america_rows = table[5].find_all("tr")

    africa = each_continent(africa_rows)
    asia = each_continent(asia_rows)
    europe = each_continent(europe_rows)
    north_america = each_continent(north_america_rows)
    oceania = each_continent(oceania_rows)
    south_america = each_continent(south_america_rows)

    return africa, asia, europe, north_america, oceania, south_america


def each_continent(rows):
    data = []
    for row in rows[3:]:
        cols = row.find_all("td")
        if cols[0].find("a"):
            country = cols[0].find("a")
            country = country.text.strip()
            data.append(country)
    return data


africa, asia, europe, north_america, oceania, south_america = countries_by_continent()

In [63]:
# Pandas 출력 설정 변경
pd.set_option('display.max_rows', None)  # 모든 행 출력
pd.set_option('display.max_columns', None)  # 모든 열 출력

# Region 열 추가 및 대륙 할당
df['Region'] = 'Other'  # 기본적으로 모든 국가를 'Other'로 초기화

# 각 대륙 리스트에 포함된 국가의 인덱스를 찾아서 Region 열을 업데이트
df.loc[df['Country'].isin(africa), 'Region'] = 'Africa'
df.loc[df['Country'].isin(asia), 'Region'] = 'Asia'
df.loc[df['Country'].isin(europe), 'Region'] = 'Europe'
df.loc[df['Country'].isin(north_america), 'Region'] = 'North America'
df.loc[df['Country'].isin(oceania), 'Region'] = 'Oceania'
df.loc[df['Country'].isin(south_america), 'Region'] = 'South America'

print(df)

                              Country  GDP_USD_billion         Region
0                       United States        28781.083  North America
1                               China        18532.633           Asia
2                             Germany         4591.100         Europe
3                               Japan         4110.452           Asia
4                               India         3937.011           Asia
5                      United Kingdom         3495.261         Europe
6                              France         3130.014         Europe
7                              Brazil         2331.391  South America
8                               Italy         2328.028         Europe
9                              Canada         2242.182  North America
10                             Russia         2056.844         Europe
11                             Mexico         2017.025  North America
12                          Australia         1790.348        Oceania
13                              Korea         1760.947          Other
14                              Spain         1647.114         Europe
15                          Indonesia         1475.690        Oceania
16                        Netherlands         1142.513         Europe
17                            Türkiye         1113.561          Other
18                       Saudi Arabia         1106.015           Asia
19                        Switzerland          938.458         Europe
20                             Poland          844.623         Europe
21           Taiwan Province of China          802.958          Other
22                            Belgium          655.192         Europe
23                             Sweden          623.048         Europe
24                          Argentina          604.260  South America
25                            Ireland          564.020         Europe
26                           Thailand          548.890           Asia
27                            Austria          540.887         Europe
28                             Israel          530.664           Asia
29               United Arab Emirates          527.796           Asia
30                             Norway          526.951         Europe
31                          Singapore          525.228           Asia
32                        Philippines          471.516           Asia
33                            Vietnam          465.814           Asia
34           Islamic Republic of Iran          464.181          Other
35                         Bangladesh          455.162           Asia
36                           Malaysia          445.519           Asia
37                            Denmark          409.989         Europe
38                      Hong Kong SAR          406.775          Other
39                           Colombia          386.076  South America
40                       South Africa          373.233         Africa
41                            Romania          369.971         Europe
42                              Egypt          347.594           Asia
43                              Chile          333.760  South America
44                     Czech Republic          325.880         Europe
45                            Finland          308.055         Europe
46                           Portugal          298.949         Europe
47                         Kazakhstan          296.740         Europe
48                               Peru          282.458  South America
49                            Algeria          266.780         Africa
50                               Iraq          265.894           Asia
51                        New Zealand          257.626        Oceania
52                            Nigeria          252.738         Africa
53                             Greece          250.276         Europe
54                              Qatar          244.686           Asia
55                            Hungary          223.413         Europe
56                           Ethiopia          205.130         Africa
57                            Ukraine          188.943         Europe
58                             Kuwait          160.397           Asia
59                            Morocco          152.377         Africa
60                    Slovak Republic          140.808          Other
61                 Dominican Republic          127.356  North America
62                            Ecuador          121.592  South America
63                        Puerto Rico          117.763  North America
64                          Guatemala          110.035  North America
65                               Oman          108.927           Asia
66                           Bulgaria          107.933         Europe
67                              Kenya          104.001         Africa
68                          Venezuela          102.328  South America
69                         Uzbekistan           97.956           Asia
70                         Costa Rica           96.058  North America
71                             Angola           92.123         Africa
72                         Luxembourg           88.556         Europe
73                            Croatia           88.076         Europe
74                             Panama           87.347  North America
75                      Côte d'Ivoire           86.911          Other
76                            Uruguay           82.605  South America
77                       Turkmenistan           81.896           Asia
78                             Serbia           81.873         Europe
79                          Lithuania           81.170         Europe
80                           Tanzania           79.605         Africa
81                         Azerbaijan           78.749         Europe
82                              Ghana           75.244         Africa
83   Democratic Republic of the Congo           73.761          Other
84                           Slovenia           72.101         Europe
85                            Belarus           69.048         Europe
86                            Myanmar           68.006           Asia
87                             Uganda           56.310         Africa
88                            Tunisia           54.708         Africa
89                          Macao SAR           54.677          Other
90                             Jordan           53.570           Asia
91                           Cameroon           53.205         Africa
92                            Bolivia           49.334  South America
93                              Libya           48.221         Africa
94                            Bahrain           46.790           Asia
95                           Paraguay           45.817  South America
96                             Latvia           45.466         Europe
97                           Cambodia           45.150           Asia
98                              Nepal           44.179           Asia
99                            Estonia           43.486         Europe
100                          Honduras           37.355  North America
101                           Senegal           35.450         Africa
102                       El Salvador           35.333  North America
103                          Zimbabwe           34.405         Africa
104                            Cyprus           34.221         Europe
105                           Iceland           33.338         Europe
106                           Georgia           32.865         Europe
107                  Papua New Guinea           31.716        Oceania
108                            Zambia           29.872         Africa
109            Bosnia and Herzegovina           29.078         Europe
110               Trinidad and Tobago           28.365  North America
111                             Sudan           26.865         Africa
112                            Guinea           25.447         Africa
113                           Albania           25.431         Europe
114                           Armenia           25.408         Europe
115                             Haiti           24.046  North America
116                        Mozambique           22.975         Africa
117                             Malta           22.737         Europe
118                          Mongolia           21.943           Asia
119                      Burkina Faso           21.902         Africa
120                              Mali           21.662         Africa
121                          Botswana           21.418         Africa
122                             Benin           21.371         Africa
123                            Guyana           21.178  South America
124                             Gabon           21.013         Africa
125                           Jamaica           20.098  North America
126                         Nicaragua           18.829  North America
127                             Niger           18.816         Africa
128                              Chad           18.697         Africa
129                           Moldova           18.356         Europe
130                             Yemen           16.940           Asia
131                        Madagascar           16.465         Africa
132                         Mauritius           16.359         Africa
133                   North Macedonia           15.873         Europe
134                 Brunei Darussalam           15.510          Other
135                 Republic of Congo           15.501          Other
136                        Lao P.D.R.           15.190          Other
137                       The Bahamas           14.390          Other
138                            Rwanda           13.701         Africa
139                   Kyrgyz Republic           13.599          Other
140                        Tajikistan           12.953           Asia
141                           Somalia           12.804         Africa
142                           Namibia           12.765         Africa
143                            Kosovo           11.318         Europe
144                            Malawi           11.241         Africa
145                 Equatorial Guinea           10.708         Africa
146                        Mauritania           10.628         Africa
147                              Togo            9.832         Africa
148                        Montenegro            8.011         Europe
149                          Maldives            7.199           Asia
150                          Barbados            6.863  North America
151                       South Sudan            6.517         Africa
152                              Fiji            5.801        Oceania
153                          Eswatini            5.085         Africa
154                           Liberia            4.754         Africa
155                      Sierra Leone            4.558         Africa
156                          Djibouti            4.364         Africa
157                          Suriname            4.337  South America
158                             Aruba            4.069  North America
159                           Andorra            3.897         Europe
160                            Belize            3.296  North America
161                            Bhutan            3.110           Asia
162                           Burundi            3.075         Africa
163          Central African Republic            2.810         Africa
164                        Cabo Verde            2.718          Other
165                        The Gambia            2.694          Other
166                         St. Lucia            2.582          Other
167                           Lesotho            2.395         Africa
168                        Seychelles            2.203         Africa
169                     Guinea-Bissau            2.151         Africa
170               Antigua and Barbuda            2.127  North America
171                        San Marino            2.034         Europe
172                       Timor-Leste            1.992          Other
173                   Solomon Islands            1.707        Oceania
174                           Comoros            1.422         Africa
175                           Grenada            1.406  North America
176                           Vanuatu            1.289        Oceania
177               St. Kitts and Nevis            1.134          Other
178    St. Vincent and the Grenadines            1.128          Other
179                             Samoa            1.024        Oceania
180             São Tomé and Príncipe            0.751         Africa
181                          Dominica            0.708  North America
182                             Tonga            0.581        Oceania
183                        Micronesia            0.484        Oceania
184                          Kiribati            0.311        Oceania
185                             Palau            0.308        Oceania
186                  Marshall Islands            0.305        Oceania
187                             Nauru            0.161        Oceania
188                            Tuvalu            0.066        Oceania

In [64]:
other_countries = df[df['Region'] == 'Other']
print(other_countries)

                              Country  GDP_USD_billion Region
13                              Korea         1760.947  Other
17                            Türkiye         1113.561  Other
21           Taiwan Province of China          802.958  Other
34           Islamic Republic of Iran          464.181  Other
38                      Hong Kong SAR          406.775  Other
60                    Slovak Republic          140.808  Other
75                      Côte d'Ivoire           86.911  Other
83   Democratic Republic of the Congo           73.761  Other
89                          Macao SAR           54.677  Other
134                 Brunei Darussalam           15.510  Other
135                 Republic of Congo           15.501  Other
136                        Lao P.D.R.           15.190  Other
137                       The Bahamas           14.390  Other
139                   Kyrgyz Republic           13.599  Other
164                        Cabo Verde            2.718  Other
165                        The Gambia            2.694  Other
166                         St. Lucia            2.582  Other
172                       Timor-Leste            1.992  Other
177               St. Kitts and Nevis            1.134  Other
178    St. Vincent and the Grenadines            1.128  Other

In [65]:
region_mapping = {
    'Korea': 'Asia',
    'Türkiye': 'Europe',
    'Taiwan Province of China': 'Asia',
    'Islamic Republic of Iran': 'Asia',
    'Hong Kong SAR': 'Asia',
    'Slovak Republic': 'Europe',
    'Côte d\'Ivoire': 'Africa',
    'Democratic Republic of the Congo': 'Africa',
    'Macao SAR': 'Asia',
    'Brunei Darussalam': 'Asia',
    'Republic of Congo': 'Africa',
    'Lao P.D.R.': 'Asia',
    'The Bahamas': 'North America',
    'Kyrgyz Republic': 'Asia',
    'Cabo Verde': 'Africa',
    'The Gambia': 'Africa',
    'St. Lucia': 'North America',
    'Timor-Leste': 'Asia',
    'St. Kitts and Nevis': 'North America',
    'St. Vincent and the Grenadines': 'North America'
}

# Region 열 업데이트
df.loc[df['Region'] == 'Other', 'Region'] = df.loc[df['Region'] == 'Other', 'Country'].map(region_mapping)

print(df)

                              Country  GDP_USD_billion         Region
0                       United States        28781.083  North America
1                               China        18532.633           Asia
2                             Germany         4591.100         Europe
3                               Japan         4110.452           Asia
4                               India         3937.011           Asia
5                      United Kingdom         3495.261         Europe
6                              France         3130.014         Europe
7                              Brazil         2331.391  South America
8                               Italy         2328.028         Europe
9                              Canada         2242.182  North America
10                             Russia         2056.844         Europe
11                             Mexico         2017.025  North America
12                          Australia         1790.348        Oceania
13                              Korea         1760.947           Asia
14                              Spain         1647.114         Europe
15                          Indonesia         1475.690        Oceania
16                        Netherlands         1142.513         Europe
17                            Türkiye         1113.561         Europe
18                       Saudi Arabia         1106.015           Asia
19                        Switzerland          938.458         Europe
20                             Poland          844.623         Europe
21           Taiwan Province of China          802.958           Asia
22                            Belgium          655.192         Europe
23                             Sweden          623.048         Europe
24                          Argentina          604.260  South America
25                            Ireland          564.020         Europe
26                           Thailand          548.890           Asia
27                            Austria          540.887         Europe
28                             Israel          530.664           Asia
29               United Arab Emirates          527.796           Asia
30                             Norway          526.951         Europe
31                          Singapore          525.228           Asia
32                        Philippines          471.516           Asia
33                            Vietnam          465.814           Asia
34           Islamic Republic of Iran          464.181           Asia
35                         Bangladesh          455.162           Asia
36                           Malaysia          445.519           Asia
37                            Denmark          409.989         Europe
38                      Hong Kong SAR          406.775           Asia
39                           Colombia          386.076  South America
40                       South Africa          373.233         Africa
41                            Romania          369.971         Europe
42                              Egypt          347.594           Asia
43                              Chile          333.760  South America
44                     Czech Republic          325.880         Europe
45                            Finland          308.055         Europe
46                           Portugal          298.949         Europe
47                         Kazakhstan          296.740         Europe
48                               Peru          282.458  South America
49                            Algeria          266.780         Africa
50                               Iraq          265.894           Asia
51                        New Zealand          257.626        Oceania
52                            Nigeria          252.738         Africa
53                             Greece          250.276         Europe
54                              Qatar          244.686           Asia
55                            Hungary          223.413         Europe
56                           Ethiopia          205.130         Africa
57                            Ukraine          188.943         Europe
58                             Kuwait          160.397           Asia
59                            Morocco          152.377         Africa
60                    Slovak Republic          140.808         Europe
61                 Dominican Republic          127.356  North America
62                            Ecuador          121.592  South America
63                        Puerto Rico          117.763  North America
64                          Guatemala          110.035  North America
65                               Oman          108.927           Asia
66                           Bulgaria          107.933         Europe
67                              Kenya          104.001         Africa
68                          Venezuela          102.328  South America
69                         Uzbekistan           97.956           Asia
70                         Costa Rica           96.058  North America
71                             Angola           92.123         Africa
72                         Luxembourg           88.556         Europe
73                            Croatia           88.076         Europe
74                             Panama           87.347  North America
75                      Côte d'Ivoire           86.911         Africa
76                            Uruguay           82.605  South America
77                       Turkmenistan           81.896           Asia
78                             Serbia           81.873         Europe
79                          Lithuania           81.170         Europe
80                           Tanzania           79.605         Africa
81                         Azerbaijan           78.749         Europe
82                              Ghana           75.244         Africa
83   Democratic Republic of the Congo           73.761         Africa
84                           Slovenia           72.101         Europe
85                            Belarus           69.048         Europe
86                            Myanmar           68.006           Asia
87                             Uganda           56.310         Africa
88                            Tunisia           54.708         Africa
89                          Macao SAR           54.677           Asia
90                             Jordan           53.570           Asia
91                           Cameroon           53.205         Africa
92                            Bolivia           49.334  South America
93                              Libya           48.221         Africa
94                            Bahrain           46.790           Asia
95                           Paraguay           45.817  South America
96                             Latvia           45.466         Europe
97                           Cambodia           45.150           Asia
98                              Nepal           44.179           Asia
99                            Estonia           43.486         Europe
100                          Honduras           37.355  North America
101                           Senegal           35.450         Africa
102                       El Salvador           35.333  North America
103                          Zimbabwe           34.405         Africa
104                            Cyprus           34.221         Europe
105                           Iceland           33.338         Europe
106                           Georgia           32.865         Europe
107                  Papua New Guinea           31.716        Oceania
108                            Zambia           29.872         Africa
109            Bosnia and Herzegovina           29.078         Europe
110               Trinidad and Tobago           28.365  North America
111                             Sudan           26.865         Africa
112                            Guinea           25.447         Africa
113                           Albania           25.431         Europe
114                           Armenia           25.408         Europe
115                             Haiti           24.046  North America
116                        Mozambique           22.975         Africa
117                             Malta           22.737         Europe
118                          Mongolia           21.943           Asia
119                      Burkina Faso           21.902         Africa
120                              Mali           21.662         Africa
121                          Botswana           21.418         Africa
122                             Benin           21.371         Africa
123                            Guyana           21.178  South America
124                             Gabon           21.013         Africa
125                           Jamaica           20.098  North America
126                         Nicaragua           18.829  North America
127                             Niger           18.816         Africa
128                              Chad           18.697         Africa
129                           Moldova           18.356         Europe
130                             Yemen           16.940           Asia
131                        Madagascar           16.465         Africa
132                         Mauritius           16.359         Africa
133                   North Macedonia           15.873         Europe
134                 Brunei Darussalam           15.510           Asia
135                 Republic of Congo           15.501         Africa
136                        Lao P.D.R.           15.190           Asia
137                       The Bahamas           14.390  North America
138                            Rwanda           13.701         Africa
139                   Kyrgyz Republic           13.599           Asia
140                        Tajikistan           12.953           Asia
141                           Somalia           12.804         Africa
142                           Namibia           12.765         Africa
143                            Kosovo           11.318         Europe
144                            Malawi           11.241         Africa
145                 Equatorial Guinea           10.708         Africa
146                        Mauritania           10.628         Africa
147                              Togo            9.832         Africa
148                        Montenegro            8.011         Europe
149                          Maldives            7.199           Asia
150                          Barbados            6.863  North America
151                       South Sudan            6.517         Africa
152                              Fiji            5.801        Oceania
153                          Eswatini            5.085         Africa
154                           Liberia            4.754         Africa
155                      Sierra Leone            4.558         Africa
156                          Djibouti            4.364         Africa
157                          Suriname            4.337  South America
158                             Aruba            4.069  North America
159                           Andorra            3.897         Europe
160                            Belize            3.296  North America
161                            Bhutan            3.110           Asia
162                           Burundi            3.075         Africa
163          Central African Republic            2.810         Africa
164                        Cabo Verde            2.718         Africa
165                        The Gambia            2.694         Africa
166                         St. Lucia            2.582  North America
167                           Lesotho            2.395         Africa
168                        Seychelles            2.203         Africa
169                     Guinea-Bissau            2.151         Africa
170               Antigua and Barbuda            2.127  North America
171                        San Marino            2.034         Europe
172                       Timor-Leste            1.992           Asia
173                   Solomon Islands            1.707        Oceania
174                           Comoros            1.422         Africa
175                           Grenada            1.406  North America
176                           Vanuatu            1.289        Oceania
177               St. Kitts and Nevis            1.134  North America
178    St. Vincent and the Grenadines            1.128  North America
179                             Samoa            1.024        Oceania
180             São Tomé and Príncipe            0.751         Africa
181                          Dominica            0.708  North America
182                             Tonga            0.581        Oceania
183                        Micronesia            0.484        Oceania
184                          Kiribati            0.311        Oceania
185                             Palau            0.308        Oceania
186                  Marshall Islands            0.305        Oceania
187                             Nauru            0.161        Oceania
188                            Tuvalu            0.066        Oceania

In [66]:
other_countries = df[df['Region'] == 'Other']
print(other_countries)

Empty DataFrame
Columns: [Country, GDP_USD_billion, Region]
Index: []

In [73]:
df.loc[df['Country'] == 'Egypt', 'Region'] = 'Africa'
df.loc[df['Country'] == 'Indonesia', 'Region'] = 'Asia'

- GDP가 100B USD이상이 되는 국가만을 구해서 화면에 출력해야 합니다.

In [74]:
# '2024' 열에서 값이 100 이상인 행들 필터링
filtered_df = df[df['GDP_USD_billion'] >= 100]
print(filtered_df)

                     Country  GDP_USD_billion         Region
0              United States        28781.083  North America
1                      China        18532.633           Asia
2                    Germany         4591.100         Europe
3                      Japan         4110.452           Asia
4                      India         3937.011           Asia
5             United Kingdom         3495.261         Europe
6                     France         3130.014         Europe
7                     Brazil         2331.391  South America
8                      Italy         2328.028         Europe
9                     Canada         2242.182  North America
10                    Russia         2056.844         Europe
11                    Mexico         2017.025  North America
12                 Australia         1790.348        Oceania
13                     Korea         1760.947           Asia
14                     Spain         1647.114         Europe
15                 Indonesia         1475.690           Asia
16               Netherlands         1142.513         Europe
17                   Türkiye         1113.561         Europe
18              Saudi Arabia         1106.015           Asia
19               Switzerland          938.458         Europe
20                    Poland          844.623         Europe
21  Taiwan Province of China          802.958           Asia
22                   Belgium          655.192         Europe
23                    Sweden          623.048         Europe
24                 Argentina          604.260  South America
25                   Ireland          564.020         Europe
26                  Thailand          548.890           Asia
27                   Austria          540.887         Europe
28                    Israel          530.664           Asia
29      United Arab Emirates          527.796           Asia
30                    Norway          526.951         Europe
31                 Singapore          525.228           Asia
32               Philippines          471.516           Asia
33                   Vietnam          465.814           Asia
34  Islamic Republic of Iran          464.181           Asia
35                Bangladesh          455.162           Asia
36                  Malaysia          445.519           Asia
37                   Denmark          409.989         Europe
38             Hong Kong SAR          406.775           Asia
39                  Colombia          386.076  South America
40              South Africa          373.233         Africa
41                   Romania          369.971         Europe
42                     Egypt          347.594         Africa
43                     Chile          333.760  South America
44            Czech Republic          325.880         Europe
45                   Finland          308.055         Europe
46                  Portugal          298.949         Europe
47                Kazakhstan          296.740         Europe
48                      Peru          282.458  South America
49                   Algeria          266.780         Africa
50                      Iraq          265.894           Asia
51               New Zealand          257.626        Oceania
52                   Nigeria          252.738         Africa
53                    Greece          250.276         Europe
54                     Qatar          244.686           Asia
55                   Hungary          223.413         Europe
56                  Ethiopia          205.130         Africa
57                   Ukraine          188.943         Europe
58                    Kuwait          160.397           Asia
59                   Morocco          152.377         Africa
60           Slovak Republic          140.808         Europe
61        Dominican Republic          127.356  North America
62                   Ecuador          121.592  South America
63               Puerto Rico          117.763  North America
64                 Guatemala          110.035  North America
65                      Oman          108.927           Asia
66                  Bulgaria          107.933         Europe
67                     Kenya          104.001         Africa
68                 Venezuela          102.328         Africa

 - 각 Region별로 top5 국가의 GDP 평균을 구해서 화면에 출력해야 합니다.

In [75]:
top5_per_region = (
    df.groupby("Region")
    .apply(lambda x: x.nlargest(5, "GDP_USD_billion"))
    .reset_index(drop=True)
)  # reset_index -> 인덱스 재정의, drop=True면 기존 인덱스는 삭제
top5_per_region

/var/folders/14/2vn0vwzj29zb97jgpbhnrr_00000gn/T/ipykernel_24221/2141019078.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df.groupby("Region")

               Country  GDP_USD_billion         Region
0         South Africa          373.233         Africa
1                Egypt          347.594         Africa
2              Algeria          266.780         Africa
3              Nigeria          252.738         Africa
4             Ethiopia          205.130         Africa
5                China        18532.633           Asia
6                Japan         4110.452           Asia
7                India         3937.011           Asia
8                Korea         1760.947           Asia
9            Indonesia         1475.690           Asia
10             Germany         4591.100         Europe
11      United Kingdom         3495.261         Europe
12              France         3130.014         Europe
13               Italy         2328.028         Europe
14              Russia         2056.844         Europe
15       United States        28781.083  North America
16              Canada         2242.182  North America
17              Mexico         2017.025  North America
18  Dominican Republic          127.356  North America
19         Puerto Rico          117.763  North America
20           Australia         1790.348        Oceania
21         New Zealand          257.626        Oceania
22    Papua New Guinea           31.716        Oceania
23                Fiji            5.801        Oceania
24     Solomon Islands            1.707        Oceania
25              Brazil         2331.391  South America
26           Argentina          604.260  South America
27            Colombia          386.076  South America
28               Chile          333.760  South America
29                Peru          282.458  South America

In [76]:
average_gdp_per_region = top5_per_region.groupby("Region")["GDP_USD_billion"].mean().reset_index()
average_gdp_per_region['GDP_USD_billion'] = average_gdp_per_region['GDP_USD_billion'].round(2)
average_gdp_per_region

          Region  GDP_USD_billion
0         Africa           289.09
1           Asia          5963.35
2         Europe          3120.25
3  North America          6657.08
4        Oceania           417.44
5  South America           787.59